* {
  box-sizing: border-box;
}

/* * (universal) zu html geändert */
html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px; /*müsste man nicht angeben da default setting. x px = 1rem */
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

::selection {
  background-color: darkmagenta;
  color: white;
}

.header {
  padding: 2rem 1rem;
  padding-top: 3rem; /* in der Position Task hinzugefügt muss aber nicht */
  text-align: center;
  background-color: lightyellow;
  position: relative;
  _position: sticky;
  _top: 0;
}

.hireme {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: purple 0.125rem solid;
  font-size: 1.5rem;
  padding: 0.25rem;
  background-color: lightpink;
  color: rgb(70, 7, 70);
  border-radius: 0.5rem;
}

.nav-header {
  color: grey;
}

.nav-header:hover {
  color: black;
  background-color: rgb(179, 95, 204);
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.nav-header:active {
  color: lightgoldenrodyellow;
  background-color: purple;
  font-size: 1.5rem;
  font-weight: 900; /* funktioniert nicht */
}

/* eingefügt damit sich der Header nicht verschiebt wenn die Schrift beim hoven größer wird */
nav {
  height: 1.5rem;
}

.nav-header + .nav-header {
  margin-left: 2rem;
}

.main-heading {
  font-size: 4rem;
}

h1 {
  _padding: 1rem 0rem;
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.main {
  padding: 1rem;
  max-width: 75ch;
  margin: 0 auto;
}

/* .main > * + * { margin-top: 48px} */
article + article {
  margin-top: 2.5rem;
}

/* Unterschied ohne Punkt? egal da es immer nur ein main geben sollte. Andere Lsg .main > * {... */
.main article {
  border-top: purple 0.25rem solid;
  padding: 0 1.5rem; /* in der Position Task hinzugefügt nachdem h2 rausgerückt wurde, muss aber nicht >aricel heading und border line so auf einer höher) */
  left: -1.5rem;
}

/* .main > *:first-child */
article:first-child {
  border-top: none;
}

/* es ist besser mit Klassen zu arbeiten, siehe unten 
article > h2 {
  position: relative;
  left: -16px;
} */

.article-heading {
  position: relative;
  left: -1.5rem;
}

.profession::after {
  content: "👩🏼‍💻 🚀";
}

.experiences-heading {
  display: inline-block;
}

.experiences-subheading {
  display: inline-block;
}
