* {
  box-sizing: border-box;
}

/* * (universal) zu html geändert */
html {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
}

::selection {
  background-color: darkmagenta;
  color: white;
}

.header {
  padding: 48px 16px;
  text-align: center;
  background-color: lightyellow;
}

.nav-header {
  color: grey;
}

.nav-header:hover {
  color: black;
  background-color: rgb(179, 95, 204);
  font-size: 24px;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.nav-header:active {
  color: lightgoldenrodyellow;
  background-color: purple;
  font-size: 24px;
  font-weight: 900; /* funktioniert nicht */
}

/* eingefügt damit sich der Header nicht verschiebt wenn die Schrift beim hoven größer wird */
nav {
  height: 24px;
}

.nav-header + .nav-header {
  margin-left: 2rem;
}

h1 {
  padding: 30px 50px;
}

.main {
  padding: 20px 40px;
  max-width: 800px;
  margin: 0 auto;
}

/* .main > * + * { margin-top: 48px} */
article + article {
  margin-top: 2.5rem;
}

/* Unterschied ohne Punkt? egal da es immer nur ein main geben sollte. Andere Lsg .main > * {... */
.main article {
  border-top: purple 5px solid;
}

/* .main > *:first-child */
article:first-child {
  border-top: none;
}
.profession::after {
  content: "👩🏼‍💻 🚀";
}

.experiences-heading {
  display: inline-block;
}

.experiences-subheading {
  display: inline-block;
}
