* {
  box-sizing: border-box;
}

/* * (universal) zu html geändert */
html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px; /*müsste man nicht angeben da default setting. x px = 1rem */
}

@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  --text-color: black;
  --header-background1: lightyellow;
  --header-background2: purple;
  --nav-color: grey;
  --hire-me: lightpink;
  --nav-hover: rgb(179, 95, 204);
}

::selection {
  background-color: darkmagenta;
  color: white;
}

.header {
  padding: 2rem 1rem;
  padding-top: 3rem; /* in der Position Task hinzugefügt muss aber nicht */
  text-align: center;
  _background-color: lightyellow;
  position: relative;
  _position: sticky;
  _top: 0;
  _background-image: linear-gradient(purple, lightyellow 30%);
  background-image: linear-gradient(
    var(--header-background2),
    var(--header-background1) 30%
  );
}

.hireme {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: var(--header-background2) 0.125rem solid;
  font-size: 1.5rem;
  padding: 0.25rem;
  background-color: var(--hire-me);
  color: rgb(70, 7, 70);
  border-radius: 0.5rem;
}

@media screen and (min-width: 992px) {
  .hireme {
    position: fixed;
  }
}

.nav-flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  _justify-content: center;
  _border: black 5px solid;
}

@media screen and (min-width: 786px) {
  .nav-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 1.5rem;
  }
}

.nav-header {
  color: var(--nav-color);
}

.nav-header:hover {
  color: var(--text-color);
  background-color: var(--nav-hover);
  font-size: 1.5rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}
.nav-header:active {
  color: var(--header-background1);
  background-color: var(--header-background2);
  font-size: 1.5rem;
  font-weight: 900; /* funktioniert nicht */
}

/* eingefügt damit sich der Header nicht verschiebt wenn die Schrift beim hoven größer wird */
_nav {
  height: 1.5rem;
}

@media screen and (min-width: 786px) {
  .nav-header + .nav-header {
    margin-left: 2rem;
  }
}

@media print {
  .nav-header {
    display: none;
  }
  .hireme {
    display: none;
  }
}

.main-heading {
  font-size: 4rem;
}

h1 {
  _padding: 1rem 0rem;
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
  padding-bottom: 2rem;
}

.main {
  padding: 1rem;
  max-width: 75ch;
  _max-width: 800px;
  margin: 0 auto;
}

/* .main > * + * { margin-top: 48px} */
.main > article + article {
  margin-top: 1.5rem;
}

@media screen and (min-width: 786px) {
  .main > article + article {
    margin-top: 3.5rem;
  }
}

/* Unterschied ohne Punkt? egal da es immer nur ein main geben sollte. Andere Lsg .main > * {... */
.main article {
  border-top: var(--header-background2) 0.25rem solid;
  padding: 0 1.5rem; /* in der Position Task hinzugefügt nachdem h2 rausgerückt wurde, muss aber nicht >aricel heading und border line so auf einer höher) */
  left: -1.5rem;
}

/* .main > *:first-child */
article:first-child {
  border-top: none;
}

/* es ist besser mit Klassen zu arbeiten, siehe unten 
article > h2 {
  position: relative;
  left: -16px;
} */

.article-heading {
  position: relative;
  left: -1.5rem;
}

.profession::after {
  content: "👩🏼‍💻 🚀";
}

_.experiences-heading {
  display: inline-block;
}

.experiences-subheading {
  _display: inline-block;
}

.header-flexbox {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 786px) {
  .header-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer {
  padding: 2rem;
  text-align: center;
  background-color: lightgoldenrodyellow;
  background-image: linear-gradient(
    purple 1%,
    lightgoldenrodyellow 30%,
    lightgoldenrodyellow 70%,
    purple 100%
  );
}
